<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>WorkPlot</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(TARGET_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.workplot.preset</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>workplot</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>WPCollage</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCollage</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPMinimal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMinimal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPRetro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRetro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPGradient</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGradient</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>WPCollage</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCollage</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPMinimal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMinimal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPRetro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRetro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>WPGradient</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGradient</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
